h1 {
    padding: 0 40px;
}

.my-container span {
    width: 100%;
    display: block;
    height: 40px;
    margin: 0 90px;
    user-select: text;

}

.my-container table {
    width: 90%;
    user-select: text;
}

/* Hide button by default and show on hover */
tr:hover .copy-btn {
    visibility: visible;
}

/* Style for the table row container */
tr {
    position: relative;
}

/* Style for the copy button */
.copy-btn {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    /* Green background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.8em;
}

/* Show the button on hover */
tr:hover .copy-btn {
    visibility: visible;
}

/* Style for the text span */
span {
    display: block;
}

    


footer {
    margin-top: 40px;
    border-top: 1px solid #e8e8e8;
    border-color: #e0e5e6;
    background: #f6f8f8;
    padding: 40px;
}

footer a {
    text-decoration: none !important;
    margin: 10px;
}

footer img {
    height: 32px;
}

.container {
    display: flex;  
    justify-content: center;
    align-content: center;
}

.logo{
    height: 32px;
}

.header{
    border-bottom: 1px solid #e8e8e8;
    border-color: #e0e5e6;
    background: #f6f8f8;
    margin-bottom: 40px;
}

.classes span{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.classes span::before {
    content: '.';
}

.sp-logo {
    height: 72px;
    margin-left: 60px;
    margin-top: 20px;
}

.title {
    font-size: 32px;
    display: inline !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -23px;
    position: relative;
}

.caption {
    margin-left: 190px;
    top: -23px;
    position: relative;
}